@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    display: none;
  }
  input[type='checkbox'] {
    accent-color: #01E994;
    height: 15px;
    width: 15px;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
width:50%;
  background: white;
  color: black;
  overflow: auto;
  border-radius: 1.5rem;
  outline: none;
  padding: 10px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.SvgFilter{
  filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(23deg) brightness(145%) contrast(108%);
}
button.nav.default-nav{
  background-color: white !important;
}

       

       
